.message-container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: normal;
  font-size: 16px;
  align-items: center;
  font-weight: 400;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.01em;
}

.bubble-from-right {
  justify-content: flex-end;
}

.bubble-from-left {
  justify-content: flex-start;
}

.bubble {
  background-color: #ffffff;
  border-radius: 25px;
  display: block;
  padding: 10px 21px;
  position: relative;
  color: black;
  word-wrap: break-word;
}

@media (min-width: 0px) {
  .bubble-img {
    max-width: 70%;
  }
  .bubble-text {
    max-width: 80%;
  }
}

@media (min-width: 600px) {
  .bubble-img {
    max-width: 50%;
  }
  .bubble-text {
    max-width: 60%;
  }
}

@media (min-width: 768px) {
  .bubble-img {
    max-width: 40%;
  }
  .bubble-text {
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .bubble-img {
    max-width: 30%;
  }
  .bubble-text {
    max-width: 40%;
  }
}

.others {
  background-color: #ecf3ff;
  margin-left: 8px;
}

.me {
  background-color: #f9f4e4;
  margin-right: 10px;
}

.avatar-img {
  border-radius: 50%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.12),
    0px 1px 8px rgba(0, 0, 0, 0.1);
  height: 44px;
  width: 44px;
  margin: 5px 0px 5px 0px;
  align-self: flex-end;
}

.content-img {
  width: 100%;
  cursor: 'pointer';
  object-fit: 'cover';
}
