.cardContainer {
  max-width: fit-content;
  min-height: 500px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cardContent {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.button {
  border-color: red;
}
