.title {
  margin-left: 15px;
  margin-right: 15px;
}

.close-button {
  display: flex;
  font-style: normal;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.upload-button {
  position: relative;
  display: flex;
  font-style: normal;
  font-weight: 400;
  margin-top: 10px;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}
