.title {
  display: flex;
  text-transform: capitalize;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  white-space: pre;
}
.close-button {
  display: flex;
  font-style: normal;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 50px;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}
