/* will need to change depending on the rest of the screen */
.root {
  position: absolute;
  bottom: 0;
  width: 800px;
  display: inline-block;
  max-height: 800px;
}

.bottom {
  padding-top: 10px;
}
