.title {
    color: #292525;
}

.description {
    color: #666666;
}

@media screen and (min-width: 1024px) and (max-height: 1310px) {
    .title{
        font-size: 2.2rem;
    }

    .description{
        font-size: 1rem;
        margin-top: 2rem;
    }
}

