.chatHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1px 0px 0px #e8e8e8;
}

.userDetails {
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .chatHeader {
    display: block;
  }
  .userDetails {
    width: fit-content;
  }
}

.headerText {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-bottom: 0px;
}

.onlinePadding {
  padding-top: 10px;
}

.offlinePadding {
  padding-top: 0px;
}

.status {
  color: #959595;
  font-weight: 500;
}

.right {
  white-space: nowrap;
  min-width: 0;
  display: flex;
  align-items: center;
}

.searchBox {
  height: 30px;
}
