.root {
  max-width: 280px;
  position: relative;
}
.card {
  position: relative;
}

.icons {
  color: #666666;
}

.tickIcon {
  color: white;
  top: 10px;
  right: 8px;
  position: absolute;
  display: block;
}
